

.container{
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
    border: 1px solid #ff6a00;
    display: flex;
    
    
}

/*Menu*/
.menu {
    width: 200px;
    height: 100%;
}

/*Content*/
.content {
    width: calc(100% - 200px);
    height: 100%;
    padding: 8px;
    position: relative;
}

.content .content-header{
    height: 40px;
}

.content .content-body{
    height: calc(100% - 68px);
}