.grid {
    width: 100%;
    height: calc(100% - 28px);
    border: 1px solid #000000;
    border-top: none;
}

table {
    width: 100%; 
    border: 1px;
    border-collapse: collapse;
}


table tr td {
    padding: 2px 4px;
    border: 1px solid #ccc;

}