.toolbar{
    width: 100%;
    height: 25px;
    border: 1px solid #808080;
    background: #ece9e9;
    display: flex;
}

    .toolbar button {
        display: flex;
        height: 100%;
        border-radius: unset;
        border-style: solid;
        border-width: 1px;
        border-color: transparent;
        background: none !important;
        align-items: center;
        
    }

    .toolbar button:hover{
        border-color: #808080;
    }



    /*.toolbar .toolbar-item-icon {
        display: block;
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-image: url('../../content/images/iconsprite.png');
        background-position: -1px -2416px !important;
    }*/
    